body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navinput {
    box-shadow: 0px 5px 10px #888888;
}

ul li {
    line-height: 50px;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    border: none;
    opacity: 0.5;
    transition: opacity 0.3s, background-color 0.3s;
}

.carousel-indicators .active {
    border: 2px solid #888888;
    background-color: #DB4444;
    opacity: 1;
}





@media screen and (max-width:585px) {
    #navbar {
        display: none;
    }

    #offcanvas {
        display: block !important;
    }

    #aboutresponsive {
        flex-direction: column;
    }

    #statisticsresponsive {
        flex-wrap: wrap;
    }

    .carouselrepsonsive{
        flex-direction: column;
        align-items: center;
    }

}